# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
venv311/
env/
ENV/

# Environment variables
.env
.env.example

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local development settings
.idea/
.vscode/

# Other
.DS_Store 